.search-view {
    background-color: #f3e5e5;
    padding: 20px;
    height:100%;
    padding-bottom:350px;
  }
  
  
  .search-view-content {
      height: 100%;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
  }
  
  .search-content-controls{
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
     
  }
  
  .search-content-details{
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;  
      width:60%;
      padding:20px;

  }